# Ignore Android Studio/IntelliJ related files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS system file
.DS_Store

# Ignore build directories
/build
/captures
.externalNativeBuild
.cxx

# Re-ignore local properties
local.properties
